@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');

.PostDisplay {
  position: relative;
}

.PostDisplay-right {
  position: absolute;
  right: 0;
  top: 1em;
  text-align: right;
}

.PostDisplay-right i {
  margin-left: 1em;
}

.description {
  color: white;
  /* margin-top is controlling the height of our div because our parent div is width and height 100% */
  margin-top: 70%;
  margin-bottom: 15%;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px gray;
  font-family: 'Gaegu';
  max-height: 30px;
}
