@import url("https://fonts.googleapis.com/css?family=Gaegu&display=swap");

.PostContainer {
  margin-top: 100px;
  justify-content: center;
}

.Display {
  margin-top: 100px;
  justify-content: center;
}

.Post{
  position: relative;
}

.link:hover {
  text-decoration: none;
}

.dogPic {
  width: 85%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 0.5em;
  /* box-shadow: 0px 7px 43px -21px rgba(0,34,28,0.83); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.05);

}

#dogPicSolo {
  width: 100%;
}


#dogPic:hover {
  box-shadow: 0px 7px 43px -21px rgba(0,34,28,0.83);
}

.title {
  word-wrap: break-word;
}

/* .grayedThumb {
  opacity: 0.65;
} */

.description {
  word-wrap: break-word;
  /* text-decoration: none; */
}

.heart{
  top: 0;
  right: 10%;
  position: absolute;
  z-index: 2;
  text-shadow: 2px 2px 2px gray;
  color: #016036;
}

#heart{
  right: 0;
  margin-right: 10px;
}

.votes {
  font-size: 1.5em;
  color: white;
}

.fa-heart{
  color: #016036;
  /* color: #f0f6f0; */
}
.fa-heart:hover{
  opacity: 1;
}

.fa-paw {
  font-size: 20px;
}

.description {
  color: white;
  /* margin-top is controlling the height of our div because our parent div is width and height 100% */
  margin-top: 60%;
  margin-bottom: 20%;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px gray;
  font-family: "Gaegu";
  max-height: 30px;
}

.footer {
  /* background-color: rgba(255, 255, 255, 1); */
  background-color: #f0f6f0;
  z-index: 1;
  /* position: absolute; */
  margin: 0 auto;
  height: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-content: center; */
  /* text-align: center; */
  line-height: 45px;
  /* bottom: 0; */
  /* left: 50%; */
  width: 85%;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.05);
}

#footer{
  width: 100%;
}

/* .title-footer {
  float: left;
  margin-left: 10px;
  color: white;
  text-shadow: 0px 1px 3px rgba(0,0,0,1);
  font-size: 1.5rem;
  font-family:Lato;
  max-width: 75%;
} */

.votes-footer {
  float: right;
  margin-right: 10px;
}

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 1.5rem
}


.Post-main {
  margin-bottom: 65px;
}


/* .Post-Footer {
  text-align: center;
} */

.fa-comment-alt {
  /* float: left; */
  font-size: 20px;
}

.comments-footer {
  float: left;
  color: #016036
}

.comments-footer-nohover{
  float: left;
  color: #016036
}

.comments-footer:hover{
  opacity: 0.65;
}