.postContainer {
  margin: 20px;
}

.dogPic {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.title {
  word-wrap: break-word;
}

.grayedThumb {
  opacity: 0.65;
}
